{% extends 'FrontAjoutEvent.html.twig' %}


{% block Ajoutparticipation %}


    {{ include('participation/_form.html.twig') }}

<!--  <a href="{{ path('participation_index') }}">back to list</a>-->
{% endblock %}
