{% extends 'baseback.html.twig' %}
{% block TbaleTitle %}
    <div class="card-header">Table des catégories<!--titre mtaa tableau wala elli thebou aalih--></div>
{% endblock %}

{% block TbaleContent %}
    <div class="table-responsive">
        <!--tableau badlouh kima thebou kol wehed kifech iheb yaffichi-->
        <table class="table align-items-center table-flush table-borderless">
            <thead>
            <tr>
                <th>ID de catégorie</th>
                <th>Nom de catégorie</th>
                <th>Description</th>

            </tr>
            </thead>
            <tbody><tr>


            </tbody></table>
    </div>
{% endblock %}