<div class="top_bar">
	<div class="container">
		<div class="row">
			<div class="col d-flex flex-row">
				<div class="phone">tnafes.tnafes@gmail.com</div>
				<div class="user_box ml-auto">
                {% if app.user %}
					<div class="user_box_login user_box_link"><a href="{{path('app_logout')}}">logout</a></div>
					<div class="user_box_register user_box_link"><a href="{{path('updatecurrentuserdata')}}">changer mes informations</a></div>
                {% else %}
                    <div class="user_box_login user_box_link"><a href="{{path('app_login')}}">login</a></div>
					<div class="user_box_register user_box_link"><a href="{{path('signup')}}">S'inscrire</a></div>
                {% endif %}
				</div>
			</div>
		</div>
	</div>		
</div>