<p>Bonjour {{ name }}! vous venez de créer un compte sur le site <mark>Tnafes.tn</mark> .</p>

{# example, assuming you have a route named "login" #}
Pour vous connecter, accédez à <a href="{{ url('app_login') }}">ce lien!</a>.

Merci!