{% extends 'baseback2.html.twig' %}


{%  block TbaleTitle %}
    <div class="card-header">Table des activitées<!--titre mtaa tableau wala elli thebou aalih--></div>
{% endblock %}

{#  <title>Edit Activite</title> #}

{% block TbaleContent %}
    <h1>Edit Activite</h1>

    {{ include('activite/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('activite_index') }}">back to list</a>

    {{ include('activite/_delete_form.html.twig') }}
{% endblock %}
